* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 24px;
}

header h1 {
	font-size: 1.875rem;
	margin-bottom: 12px;
}

#calculator-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.result-container {
	width: 100%;
	height: 40px;
	background-color: lightgray;
	border: solid 1px gray;
	display: flex;
	align-items: center;
	padding: 0 4px;
}

.calculator-button {
	display: flex;
	gap: 8px;
}

.main-button {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
}

.operator-button {
	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
}

.btn {
	padding: 12px;
	font-size: 18px;
	cursor: pointer;
}
